<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <nlog>
    <targets>
      <target type="File" name="f" fileName="${basedir}/logs/HelloService.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" />
      <target type="Console" name="console" detectConsoleAvailable="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>